apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ elasticsearch_configmap_name }}
  namespace: {{ logging_namespace }}
  labels:
    app: {{ elasticsearch_label }}
data:
  elasticsearch.yml: |
    cluster.name: elasticsearch-cluster
    network.host: "0.0.0.0"
    discovery.type: "single-node"
    xpack.security.enabled: false
    xpack.monitoring.enabled: true
  ES_JAVA_OPTS: {{ elasticsearch_jvm_options }}