apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: {{ logging_namespace}}
  labels:
    app: {{ elasticsearch_label }}
spec:
  clusterIP: None
  selector:
    app: {{ elasticsearch_label }}
  ports:
    - name: es-http
      protocol: "TCP"
      port: 9200
    - name: es-transport
      protocol: "TCP"
      port: 9300