apiVersion: v1
kind: Service
metadata:
  name: {{ kibana_svc_name }}
  namespace: {{ logging_namespace }}
  labels:
    app: {{ kibana_label }}
spec:
  selector:
    app: {{ kibana_label }}
  type: NodePort
  ports:
  - port: 5601
    protocol: TCP
    targetPort: 5601
    nodePort: {{ kibana_svc_nodeport }}